{% extends ccadb2_base_template %}
{% load static %}
{% load humanize %}
{% block title %}Development Harness{% endblock %}
{% block nemo_styles %}

{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'ccadb2.css' %}">
{% endblock %}
{% block responsive_nav %}
<a class="toggle-menu" href="#"><i class="cf-icon cf-icon-menu"></i><span class="u-visually-hidden">Menu</span></a>
{% endblock %}
{% block content %}
<div id="root" data-agreement-count="{{ agreement_count|intcomma }}"></div>
<script src="{% static 'ccadb2.min.js' %}" type="text/javascript"></script>
{% endblock %}
